* {
    /* background-color: #fff; */
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #000;
    font-family: OpenSans;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

/****************************************/

.container {
    width: 1403px;
    margin: 0 auto;
    background-color: #fff;
}


/*              HEADER              */

header {
    display: flex;
    align-items: center;
    height: 123px;
    background-color: #fff;
}

.logo {
    font-family: OpenSans-Bold, sans-serif;
    color: #212121;
    display: inline-block;
    align-items: center;
    /* font-weight: 600; */
    font-size: 25px;
    margin-left: 112px;
    margin-right: 334px;
}

.nav_wrapper {
    width: 655px;
    height: 20px;
    display: flex;
    justify-content: space-between;

}

.link {
    font-family: OpenSans-SemiBold;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}



.link:hover {
    text-decoration: underline;
    color: #00897b;
}



.link:active {
    color: blue;
}

/* .link:visited {
    color:blueviolet;
} */


.search {
    width: 19px;
    height: 19px;
    margin: 64px 121px 52px 28px;
}


/*              PROMO               */

.promo {
    background: url('../img/jpg/main_bg.jpg') center center/cover no-repeat;
    height: 659px;
    /*782px*/
    background-position-y: -123px;
    padding-top: 182px;
}

.promo_title {
    font-family: OpenSans-SemiBold;
    letter-spacing: 3px;
    color: #fff;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 26px;
}

.promo_subtitle {
    font-family: OpenSans-SemiBold;
    font-size: 15px;
    letter-spacing: 1.1px;
    color: #fff;
    text-align: center;
    margin-bottom: 108px;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
    width: 465px;
    height: 70px;
    margin-left: 469px;
    margin-bottom: 100px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    font-family: Roboto-Bold;
    color: #f8f8f8;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid #f8f8f8;
}

.btn:hover {
    cursor: pointer;
    background-color: #00897b;
    border-color: #00897b;
}

.to_down {
    margin-left: 691px;
}

.to_down:hover {
    cursor: pointer;
}

/*              ABOUT               */

.about {
    height: 672px;
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: #fff;
}

.about_header {
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 36px;
}

.about_text {
    width: 620px;
    min-height: 38px;
    margin: 0 auto;
    text-align: center;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 112px;
}

.column_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    /* align-items: middle; */
    /* min-height: 163px; */
}

.column {
    /* display:flex; */
    width: 370px;
    min-height: 163px;
    text-align: center;
    padding-top: 12px;
}

.ico {
    padding-bottom: 39px;
}

.column_header {
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}

.column_content {
    padding-left: 58px;
    padding-right: 58px;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    /* width: 254px; */
    line-height: 22px;
    text-align: center;
}


/*              SERVICES                */

.services {
    height: 1414px;
    background-color: #e4fdf9;
    padding-top: 173px;
    padding-bottom: 126px;
}

.services_header {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 36px;
}

.services_text {
    min-height: 38px;
    width: 620px;
    text-align: center;
    margin: 0 auto;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-bottom: 112px;
}

.main_sevices_wrapper {
    margin: 0 auto;
    width: 1170px;
    height: 906px;
}

.services_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 438px;
    margin-bottom: 31px;
}

.services_column {
    text-align: center;
    width: 370px;
    height: 438px;
    background-color: #fff;
    padding-top: 58px;
    padding-bottom: 50px;
}

.services_column:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.164);
}

.read_more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #121212;
    width: 150px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 48px;
    cursor: default;
}

.services_column:hover .read_more {
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
}

.services_icon {
    margin: 0 auto;
    width: 62px;
    height: 62px;
    background: url('../img/ico/smartphone.png') 0 0 no-repeat;
    margin-bottom: 38px;
}

.services_column:hover .services_icon {
    background: url('../img/ico/smartphone_white.png') 0 0 no-repeat;
    background-position-x: 3px;
}

.services_column_header {
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}

.services_column_text {
    margin: 0 auto;
    width: 271px;
    height: 90px;
    font-family: OpenSans, sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    margin-bottom: 44px;
}


/*              LATEST WORKS                */

.works {
    height: 1616px;
    padding-top: 128px;
    padding-bottom: 136px;
}

.works_title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 36px
}

.works_text {
    margin: 0 auto;
    text-align: center;
    width: 620px;
    height: 38px;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-bottom: 112px;
}

.link_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 667px;
    margin-bottom: 119px;
}

.works .link_wrapper .link {
    padding: 12px 20px;
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 2px #00897b;
}

.works .link_wrapper .link:hover {
    color: #fff;
    background-color: #00897b;
    text-decoration: none;
}

.img_main_wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 129px;
}

.work_img {
    width: 370px;
    height: 370px;
    margin: 15px 15px;
}

.work_img:hover {
    width: 370px;
    height: 370px;
    margin: 15px 15px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.view_all {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    height: 70px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #00897b;
    /* padding: 28px 62px; */
}

.view_all:hover {
    color: #fff;
    background-color: #00897b;
    cursor: pointer;
}