* {
    /* background-color: #fff; */
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #000;
    font-family: OpenSans, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

/****************************************/

.container {
    width: 1403px;
    margin: 0 auto;
    background-color: #fff;
}


/*              HEADER              */

header {
    display: flex;
    align-items: center;
    height: 123px;
    background-color: #fff;
}

.logo {
    /* font-family: OpenSans-Bold, sans-serif; */
    font-weight: 900;
    color: #212121;
    display: inline-block;
    align-items: center;
    /* font-weight: 600; */
    font-size: 25px;
    margin-left: 112px;
    margin-right: 334px;
}

.nav_wrapper {
    width: 655px;
    height: 20px;
    display: flex;
    justify-content: space-between;

}

.link {
    /* font-family: OpenSans-SemiBold; */
    font-weight: 600;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.link:hover {
    text-decoration: underline;
    color: #00897b;
}

.link:active {
    color: blue;
}

.search {
    width: 19px;
    height: 19px;
    margin: 64px 121px 52px 28px;
}


/*              PROMO               */

.promo {
    background: url('../img/jpg/main_bg.jpg') center center/cover no-repeat;
    height: 659px;
    /*782px*/
    background-position-y: -123px;
    padding-top: 182px;
}

.promo_title {
    /* font-family: OpenSans-SemiBold; */
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 26px;
}

.promo_subtitle {
    /* font-family: Open Sans Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.1px;
    color: #fff;
    text-align: center;
    margin-bottom: 108px;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
    width: 465px;
    height: 70px;
    margin-left: 469px;
    margin-bottom: 100px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    /* font-family: Roboto-Bold; */
    font-weight: 700;
    color: #f8f8f8;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid #f8f8f8;
}

.btn:hover {
    cursor: pointer;
    background-color: #00897b;
    border-color: #00897b;
}

.to_down {
    margin-left: 691px;
}

.to_down:hover {
    cursor: pointer;
}

/*              ABOUT               */

.about {
    height: 672px;
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: #fff;
}

.about_header {
    text-align: center;
   /*  font-family: OpenSans-Bold, sans-serif; */
   font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 36px;
}

.about_text {
    width: 620px;
    min-height: 38px;
    margin: 0 auto;
    text-align: center;
    /* font-family: OpenSans, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 112px;
}

.column_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.column {
    width: 370px;
    min-height: 163px;
    text-align: center;
    padding-top: 12px;
}

.ico {
    padding-bottom: 39px;
}

.column_header {
    /* font-family: OpenSans-SemiBold, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}

.column_content {
    padding-left: 58px;
    padding-right: 58px;
    /* font-family: OpenSans, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}


/*              SERVICES                */

.services {
    height: 1414px;
    background-color: #e4fdf9;
    padding-top: 173px;
    padding-bottom: 126px;
}

.services_header {
    /* font-family: OpenSans-Bold, sans-serif; */
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 36px;
}

.services_text {
    min-height: 38px;
    width: 620px;
    text-align: center;
    margin: 0 auto;
   /*  font-family: OpenSans, sans-serif; */
   font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-bottom: 112px;
}

.main_sevices_wrapper {
    margin: 0 auto;
    width: 1170px;
    height: 906px;
}

.services_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 438px;
    margin-bottom: 31px;
}

.services_column {
    text-align: center;
    width: 370px;
    height: 438px;
    background-color: #fff;
    padding-top: 58px;
    padding-bottom: 50px;
}

.services_column:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.164),
        0px 10px 8px rgba(0, 0, 0, 0.164),
        -10px 0px 8px rgba(0, 0, 0, 0.164);
}

.read_more {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: OpenSans-Semibold, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #121212;
    width: 150px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 48px;
    cursor: default;
}

.services_column:hover .read_more {
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
}

.icon_wrapper {
    margin: 0 auto;
    position: relative;
    width: 62px;
    height: 62px;
    margin-bottom: 38px;
}

.services_icon {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
}

.services_column:hover .services_icon {
    display: none;
}

.services_column:hover .icon_wrapper {
    background: url('../img/ico/smartphone_white.png') 0 0 no-repeat;
    background-position-x: 3px;
}

.services_column_header {
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 26px;
}

.services_column_text {
    margin: 0 auto;
    width: 271px;
    height: 90px;
   /*  font-family: OpenSans, sans-serif; */
   font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    margin-bottom: 44px;
}


/*              LATEST WORKS                */

.works {
    height: 1616px;
    padding-top: 128px;
    padding-bottom: 136px;
}

.works_title {
    /* font-family: OpenSans-Bold, sans-serif; */
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 36px
}

.works_text {
    margin: 0 auto;
    text-align: center;
    width: 620px;
    height: 38px;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-bottom: 112px;
}

.link_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 667px;
    margin-bottom: 119px;
}

.works .link_wrapper .link {
    padding: 12px 20px;
    /* font-family: OpenSans-SemiBold, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 2px #00897b;
}

.works .link_wrapper .link:hover {
    color: #fff;
    background-color: #00897b;
    text-decoration: none;
}

.img_main_wrapper {
    height: 770px;
    width: 1170px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 129px;
}

.img_row_wrapper {
    display: flex;
    justify-content: space-between;
    height: 370px;
}

.img_wrapper {
    position: relative;
    width: 370px;
    height: 370px;
}

.work_img {
    position: absolute;
    width: 370px;
    height: 370px;
    z-index: 1;
}

.hover_header {
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.hover_text {
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.img_wrapper:hover {
    cursor: pointer;
}

.img_wrapper:hover .balckout {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.651);
    width: 370px;
    height: 370px;
    z-index: 2;
}

.img_wrapper:hover .hover_content {
    position: absolute;
    width: 370px;
    height: 370px;
    text-align: center;
    z-index: 3;
    padding-top: 148px;
}

.hover_effect {
    margin: 0 auto;
    background-color: #000000;
    display: inline-block;
    width: 370px;
    height: 370px;
    margin: 15px 15px;
    padding-bottom: 148px;
}

.work_img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.view_all {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    height: 70px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #00897b;
}

.view_all:hover {
    color: #fff;
    background-color: #00897b;
    cursor: pointer;
}


/*              PRICING PLAN                */

.pricing {
    width: 1403px;
    height: 1142px;
    background-color: rgba(7, 14, 12, 0.096);
    padding-top: 126px;
    padding-bottom: 126px;
}

.pricing_header {
    text-align: center;
    /* font-family: OpenSans-Bold, sans-serif; */
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 29px;
}

.pricing_text {
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 22px;
    width: 620px;
    height: 38px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 126px;
}

.price_wrapper {
    margin: 0 auto;
    width: 1170px;
    height: 667px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 49px;
}

.price_list {
    width: 370px;
    height: inherit;
    background-color: #fff;

}

.coast_block {
    height: 209px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-color: #3949ab;
    padding-top: 48px;
    margin-bottom: 49px;
}

.rate_header {
    color: #fff;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 9px;
}

.price {
    margin: 0 auto;
    width: 173px;
    height: 36px;
}

.currency {
    color: #fff;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 25px;
    vertical-align: top;
}

.coast {
    color: #fff;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2.5px;
}

.per_month {
    color: #fff;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.85px;
}

.order_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    height: 220px;
    margin-bottom: 66px;
}

.price_text {
    display: inline-block;
    width: 178px;
    height: 28px;
    border-bottom: 1px solid #ccc;
}

.price_order {

    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.85px;


}

.order_btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 60px;
    border: 2px solid #000;
}

.order_link_free,
.order_link_basic,
.order_link_ultimates {
    /* font-family: OpenSans-SemiBold, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}

.order_btn:hover {
    border-color: #00897b;
    background-color: #00897b;
}

.order_btn:hover .order_link_free,
.order_btn:hover .order_link_basic,
.order_btn:hover .order_link_ultimates {
    color: #fff;
}

.price_list:hover {
    box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.164),
        0px 10px 8px rgba(0, 0, 0, 0.164),
        -10px 0px 8px rgba(0, 0, 0, 0.164);

}

/*              OUR TEAM             */

.team {
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 124px;
    background-color: #fff;
}

.team_header {
    text-align: center;
    /* font-family: OpenSans-Bold, sans-serif; */
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 1.5px;
    margin-bottom: 36px;
}

.team_text {
    margin: 0 auto;
    width: 620px;
    height: 38px;
    text-align: center;
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.45;
    margin-bottom: 127px;
}

.profile_wrapper {
    display: flex;
    width: 1170px;
    height: 421px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 126px;
}

.member_colunm {
    width: inherit;
    text-align: center;
}

.member_photo {
    width: 370px;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 38px;
}

.member_photo:hover {
    cursor: pointer;
}

.member_name {
    /* font-family: OpenSans-SemiBold, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.member_position {
    /* font-family: OpenSans-Regular, sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-bottom: 29px;
}

.social_links_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 50px;
}

.switched_dots_wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    height: 15px;
}

.switched_dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #3949ab;
    cursor: pointer;
}

.switched_dot:hover {
    background-color: #00897b;
}