* {
    /* background-color: #fff; */
    box-sizing: border-box;
}

body {    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color:#000;
    font-family: OpenSans;
}

a {
    text-decoration: none;
    color:#000;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}
/****************************************/

.container {
    width: 1403px;
    margin: 0 auto;

}


/*              HEADER              */

header {
    display: flex;
    align-items: center;
    height: 123px;
    background-color: #fff;
}

.logo {
    display: inline-block;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    margin-left: 112px;
    margin-right: 334px;
}

.nav_wrapper {
    width: 655px;
    height: 20px;
    display: flex;
    justify-content: space-between;

}

.link {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.search{
    width: 19px;
    height: 19px;
    margin: 64px 121px 52px 28px;
}


/*              PROMO               */

.promo {
    background: url('../img/jpg/main_bg.jpg') center center/cover no-repeat;
    height:782px;
    background-position-y: -123px;
    padding-top:182px;

}

.promo_title {
    font-family: OpenSans-SemiBold;
    color: #fff;
    font-weight: 400px;
    font-size: 43px;
    text-align: center;
    margin-bottom:26px;
}

.promo_subtitle {
    font-family: OpenSans;
    color: #fff;
    text-align: center;

}